{% extends 'jTunes/add/add_base.html' %}

{% block title %}Add artist{% endblock %}

{% block list_link %}{%  url 'jTunes:list artists' %}{% endblock %}
{% block list_link_txt %}"Artist list"{% endblock %}

{% block page_title %}New Artist{% endblock %}

{% block new_link %}{%  url 'jTunes:new artist' %}{% endblock %}

{% block form_contents %}
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" value={% block name_value %}{% endblock %}>
    <br>
{% endblock %}

{% block delete %}{% endblock %}
