<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Add item{% endblock %}</title>
</head>
<body>
    <form action="{% block list_link %}{% endblock %}">
        <input type="submit" value={% block list_link_txt %}""{% endblock %}>
    </form>
    <h1>{% block page_title %}{% endblock %}</h1>
    <form action="{% block new_link %}{% endblock %}" method="post">
        {%  csrf_token %}
        {% block form_contents %}
        {% endblock %}
        <br>
        <input type="submit" value="Save changes">
        <input type="reset">
    </form>
    <form action=""></form>
    {% block delete %}{% endblock %}
</body>
</html>
