{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ album.name }}{% endblock %}</title>
</head>
<body>
    <form action="{% block list_link %}{% url 'jTunes:list albums' %}{% endblock %}">
        <input type="submit" value={% block list_link_txt %}"Album list"{% endblock %}>
    </form>
    <br>
    <form action="{% block new_link %}{%  url 'jTunes:new album' %}{% endblock %}" method="post">
        {%  csrf_token %}
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" value={% block name_value %}""{% endblock %}>
        <br>
        <br>
        <input type="submit" value="Save changes">
        <input type="reset">
    </form>
</body>
</html>
