<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ playlist.name }}{% endblock %}</title>
</head>
<body>
    <form action="{% block list_link %}{% url 'jTunes:list playlists' %}{% endblock %}">
        <input type="submit" value={% block list_link_txt %}"Playlist list"{% endblock %}>
    </form>
    <h1>{% block page_title %}{% endblock %}</h1>
    <form action="{% block new_link %}{% url 'jTunes:edit playlist' playlist.id %}{% endblock %}" method="post">
        {%  csrf_token %}
        {% block form_contents %}
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value={% block name_value %}"{{ playlist.name }}"{% endblock %}>
            <br>
        {% endblock %}
        <br>
        <input type="submit" value="Save changes">
        <input type="reset">
    </form>
    <form action="{% url 'jTunes:new playlisttoitem' playlist.id%}" method="post">
        {%  csrf_token %}
        <table class="songs">
            <tr>
                <th>Items:</th>
                <th>Path:</th>
            </tr>
            {%  if items %}
                {% for item in items %}
                    {% if item.type == 'song' %}
                        <tr>
                            <th><a href="{% url 'jTunes:view song' item.id %}">{{ item.name }}</a></th>
                            <th>{{ item.extra }}</th>
                            <th><a href="{% url 'jTunes:delete playlisttoitem' playlist.id item.type item.id %}">remove</a></th>
                        </tr>
                    {% endif %}
                    {% if item.type == 'album' %}
                        <tr>
                            <th><a href="{% url 'jTunes:view album' item.id %}">{{ item.name }}</a></th>
                            <th></th>
                            <th><a href="{% url 'jTunes:delete playlisttoitem' playlist.id item.type item.id %}">remove</a></th>
                        </tr>
                        {% for jtem in item.extra %}
                            {% if jtem.type == 'song' %}
                                <tr>
                                    <th><a href="{% url 'jTunes:view song' jtem.id %}">{{ jtem.name }}</a></th>
                                    <th>{{ jtem.extra }}</th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if item.type == 'playlist' %}
                        <tr>
                            <th><a href="{% url 'jTunes:view playlist' item.id %}">{{ item.name }}</a></th>
                            <th></th>
                            <th><a href="{% url 'jTunes:delete playlisttoitem' playlist.id item.type item.id %}">remove</a></th>
                        </tr>
                        {% for jtem in item.extra %}
                            {% if jtem.type == 'song' %}
                                <tr>
                                    <th><a href="{% url 'jTunes:view song' jtem.id %}">{{ jtem.name }}</a></th>
                                    <th>{{ jtem.extra }}</th>
                                </tr>
                            {% endif %}
                            {% if jtem.type == 'album' %}
                                <tr>
                                    <th><a href="{% url 'jTunes:view album' jtem.id %}">{{ jtem.name }}</a></th>
                                    <th></th>
                                </tr>
                                {% for ktem in jtem.extra %}
                                    {% if ktem.type == 'song' %}
                                        <tr>
                                            <th><a href="{% url 'jTunes:view song' ktem.id %}">{{ ktem.name }}</a></th>
                                            <th>{{ ktem.extra }}</th>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {%  endif %}
            <tr>
                <th><lablel for="type"></lablel><input id="type" type="text" name="type" value="Type"></th>
                <th><lablel for="name"></lablel><input id="name" type="text" name="name" value="Name"></th>
                <th><input type="submit" value="Add"></th>
            </tr>
        </table>
    </form>
    <br>
    {% block delete %}
    <form action="{% url 'jTunes:delete playlist' playlist.id %}">
        <input type="submit" value="Delete playlist">
    </form>
    {% endblock %}
</body>
</html>
